[submodule "submodules/RDF-2020"]
	path = submodules/RDF-2020
	url = https://github.com/ieee-ceda-datc/RDF-2020.git
[submodule "submodules/OpenROAD-flow-scripts"]
	path = submodules/OpenROAD-flow-scripts
	url = https://github.com/The-OpenROAD-Project/OpenROAD-flow-scripts.git
[submodule "submodules/Fault"]
	path = submodules/Fault
	url = https://github.com/Cloud-V/Fault.git
[submodule "submodules/datc-rdf-flow-tuner"]
	path = submodules/datc-rdf-flow-tuner
	url = https://github.com/ieee-ceda-datc/datc-rdf-flow-tuner.git
[submodule "submodules/datc-rdf-Metrics4ML"]
	path = submodules/datc-rdf-Metrics4ML
	url = https://github.com/ieee-ceda-datc/datc-rdf-Metrics4ML.git
[submodule "submodules/datc-rdf-calibrations"]
	path = submodules/datc-rdf-calibrations
	url = https://github.com/ieee-ceda-datc/datc-rdf-calibrations.git
[submodule "submodules/RosettaStone"]
	path = submodules/RosettaStone
	url = https://github.com/ABKGroup/RosettaStone
